<!DOCTYPE html>
<html>
<head>
  <title>Submitted Data</title>
</head>
<body>
  <h1>Thank You!</h1>
  <p>You submitted:</p>
  <ul>
    <li><strong>Name:</strong> <%= name %></li>
    <li><strong>Email:</strong> <%= email %></li>
  </ul>
  <a href="/">Back to form</a>
</body>
</html>
